.image {
  background-color: red;
  width: 100%;
  height: auto;
 
}

.imageLobby {
  //background-color: red;
  position: absolute;
  left: 30rem;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background-size: cover;
  overflow: hidden;
}
